<footer id="contact">
  <div class="container footer-container">
    <div class="footer-logo"><img src="../images/enocsa4.jpeg" alt="Equipo ENOCSA"></div>
    <p><strong>ENOCSA: Empresa en Obras de Construcción S.A.</strong></p>
    <ul class="footer-links">
      <li><a href="#about"><strong>Nosotros</strong></a></li>
      <li><a href="#services"><strong>Servicios</strong></a></li>
      <li><a href="#portfolio"><strong>Portafolio</strong></a></li>
    </ul>
    <p><strong>Contacto:</strong> enocsateg@gmail.com | Tel: +504 2213-4481</br>+504 9998-8909</p></br>
    <p><strong>Dirección:</strong> Res. Las Hadas, Villa San Rafael, Bloque “B”, Casa#6, Comayagüela, M.D.C., Honduras C.A.</p>
  </div></br>
    <p><strong>&copy; ENOCSA | Todos los derechos reservados.</strong></p>
</footer>
