<section id="services" class="services">
  <div class="container">
    <h2><strong>Servicios</strong></h2>
    <div class="services-grid">
      <div class="card">
        <div class="card-img"><img src="./images/gerencia.jpeg" alt="Gerencia de Proyectos">
        </div>
        <div class="card-body">
          <h3><strong>Gerencia de Proyectos</strong></h3>
          <p>Administración, planificación y control de proyectos de construcción, garantizando el cumplimiento de
            plazos, costos y estándares técnicos establecidos.</p>
        </div>
      </div>
      <div class="card">
        <div class="card-img"><img src="./images/obras_civiles.jpeg" alt="Equpos de Construccion">
            alt="Construcción"></div>
        <div class="card-body">
          <h3><strong><strong>Equipo de Construcción</strong></strong></h3>
          <p>Ejecución de obras civiles mediante un equipo de trabajo capacitado, comprometido con la calidad, la seguridad y el desarrollo eficiente de cada proyecto.</p>
        </div>
      </div>
      <div class="card">
        <div class="card-img"><img src="./images/consultoria.jpeg" alt="Consultoría Técnica">
        </div>
        <div class="card-body">
          <h3><strong><strong>Consultoría Técnica en Ingeniería</strong></strong></h3>
          <p>Asesoría técnica especializada para proyectos de infraestructura, enfocada en soluciones eficientes, seguras y sostenibles.</p>
        </div>
      </div>
    </div>
  </div>
</section>